{% extends "layout.html" %}
{% block content %}
<div style="text-align:center"><img class="shadow" src="{{ url_for('static', filename='Logo.jpg')}}",  onmouseover="this.src='{{ url_for('static', filename='UBIK.jpg')}}'" onmouseout="this.src='{{ url_for('static', filename='Logo.jpg')}}'" width="200", alt="logo", onclick="reload()" "/></div>
<br>
<h2>{{Tagline}}</h2>
<p>{{Paragraph}}</p>
<p id="contact">info@ubikai.org</p>
<button onclick="location "></button>
<script>
  function reload() {
      location.reload();
     }

    </script>
{% endblock %}